= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      h2 = "#{pluralize(@user.errors.count, "error")} ユーザー情報の変更に失敗しました"
      ul
        - @user.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :user_name
    = f.text_field :user_name
  .field
    = f.label :user_id
    = f.text_field :user_id
  .actions = f.submit
