h1 ユーザー

table.table.table-bordered
  thead
    tr
      th ユーザーNo.
      th スクリーンネーム
      th 名前


  tbody
    - @users.each do |user|
      tr
        td = user.id
        td = user.user_name
        td = user.user_id
        td
          .btn-group
            = link_to '詳細', user, class: "btn btn-info "
            = link_to '課金補正', edit_user_path(user),  class: "btn btn-warning"
            = link_to '削除', user, data: {:confirm => '本当にユーザーを削除しますか？　ユーザーを削除しても、ガチャを回すと再び課金されます。'}, :method => :delete,  class: "btn btn-danger"




.text-right
  = link_to '新規追加', new_user_path, class: "btn btn-primary"
