= form_for @charge, html: {class: "form-horizontal"} do |f|
  - if @charge.errors.any?
    #error_explanation
      h2 = "#{pluralize(@charge.errors.count, "error")} prohibited this charge from being saved:"
      ul
        - @charge.errors.full_messages.each do |message|
          li = message
  .form-group
      label.control-label.col-md-3 ユーザー
      .col-md-9
        = f.collection_select :user_id, User.all, :id, :user_name, class: "form-control"
  .form-group
      label.control-label.col-md-3 課金額(JPY)
      .col-md-9
        = f.text_field :price, class: "form-control"
  .form-group
      label.control-label.col-md-3 課金タイプ
      .col-md-9
        = f.select :type, [["通常ガチャ","1"],["10連ガチャ","2"],["薬10連ガチャ"]]
  .form-group
      label.control-label.col-md-3 課金時メッセージ
      .col-md-9
        = f.text_field :message
  .form-group
      label.control-label.col-md-3 ガチャ結果
      .col-md-9
        = f.text_field :response

  .text-center
    .actions = f.submit class: "btn btn-primary", value: "送信"
