h1 課金情報

table.table.table-bordered
  thead
    tr
      th トランザクションID
      th 課金ユーザー
      th 課金額
      th 課金日時
      th 操作

    - @charges.each do |charge|
      tr
        td = sprintf("1%10d",charge.id)
        td = charge.user.user_name
        td
          = charge.price
          | JPY
        td = charge.created_at
        td
          .btn-group
            = link_to '詳細', charge, class: "btn btn-info "
            = link_to '課金補正', edit_charge_path(charge),  class: "btn btn-warning"
            = link_to '削除', charge, data: {:confirm => 'この課金データを本当に削除しますか？'}, :method => :delete,  class: "btn btn-danger"

br

= link_to '課金データを追加', new_charge_path, class: "btn btn-primary"
